.secretContainer{

width:100%;
margin:0px auto;
position:relative;
}

.secretContainer .listContainer{
color:green;
float:left;
width:40%;
border:1pt solid white;
}


.secretContainer .listContainer .secretsList{
line-height:2;
margin-left:10px
}
.secretContainer .listContainer .secretsList span{
text-decoration:none;
color:gray;
cursor:pointer;
}
.secretContainer .listContainer .secretsList span:hover{
color:red;
}



.secretContainer .listContainer .list{
}

.secretContainer .entryFormContainer{
display:none;

color:blue;
float:left;
width:50%;
}

.secretContainer .entryFormContainer .entryForm{
color:blue;
float:left;
width:50%;
}


.listPasswordEntry{
	display:none;
	position:absolute;
	top:100px;
	left:100px;
	background:white;
	border:1pt solid gray;
	padding:20px;
}

.listPasswordEntry .prompt{
margin-bottom:10px;
color:gray;

}
.listPasswordEntry input{
	width:190px;
}

.listPasswordEntry .prompt .secretPrompt{
font-weight:bold;
color:black;
}