.secretContainer{

width:100%;
margin:0px auto;
position:relative;
}

.secretContainer .listContainer{
color:green;
float:left;
width:40%;
border:1pt solid white;
}


.secretContainer .listContainer .secretsList{
line-height:2;
margin-left:10px
}
.secretContainer .listContainer .secretsList a{
text-decoration:none;
color:gray;
}
.secretContainer .listContainer .secretsList a:hover{
color:red;
}



.secretContainer .listContainer .list{
}

.secretContainer .entryFormContainer{
color:blue;
float:left;
width:50%;
}

.secretContainer .entryFormContainer .entryForm{
color:blue;
float:left;
width:50%;
}


.listPasswordEntry{
	display:none;
	position:absolute;
	top:100px;
	left:100px;
	background:white;
	border:1pt solid gray;
	padding:20px;
}

.secretPrompt{
font-weight:bold;
color:gray;
}